<div style="margin-top: 10px;">
  <div nz-row>
    <div nz-col nzFlex="2">
      <nz-card nzType="inner" style="margin-top:16px;" nzTitle="Add New Employee">
        <form nz-form [formGroup]="employeeForm" (ngSubmit)="submitForm()">
          <nz-form-item>
            <nz-form-control nzErrorTip="Enter a employee name">
              <input nz-input formControlName="name" placeholder="Enter employee name" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="Enter a employee email">
              <input nz-input formControlName="email" placeholder="Enter employee email" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="Enter a password">
              <input type="password" nz-input formControlName="password" placeholder="Enter password" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control nzErrorTip="Input the project">
              <nz-select nzAllowClear formControlName="projectId" placeholder="Select a project">
                <nz-option *ngFor="let project of projects" [nzValue]="project.id" [nzLabel]="project.name"></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>

          <button
            nz-button
            nz-type="primary"
            nzBlock
            class="w-100"
            [disabled]="employeeForm.invalid"
          >
            ADD NEW EMPLOYEE
          </button>
        </form>
      </nz-card>
    </div>
    <!-- <div nz-col nzFlex="3" style="margin-left: 10px;">
      <nz-card nzType="inner" style="margin-top:16px;" nzTitle="Managers List">
        <nz-table #basicTable [nzData]="managers" [nzBordered]="true" [nzSize]="'middle'">
          <thead>
            <tr>
              <th nzWidth="25%">ID</th>
              <th nzWidth="25%">Manager Name</th>
              <th nzWidth="25%">Email</th>
              <th nzWidth="25%">Project</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let manager of managers">
              <td><strong>{{ manager.id }}</strong></td>
              <td>{{ manager.name }}</td>
              <td>{{ manager.email }}</td>
              <td>{{ manager.projectName || 'N/A' }}</td>
            </tr>
          </tbody>
        </nz-table>
      </nz-card>
    </div>-->
    </div>
</div>
